<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forbidden</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-ZRswJbEw+uyMu8IGvSLH9JpS51ASlLL0YUgeT1UHL4mJ4Q2h4mGV0o4fBmE9ysT6yfbU6Uh8U6ouulU4Z4JQZw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<%- include("templates/header") %>

    <body>
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5">403 Forbidden</h1>
                    <p class="lead">No! You do not have permission to access this resource on this server.</p>
                    <hr class="my-4" />
                    <p>If you believe you should have access to this resource, please contact the server administrator.
                    </p>
                    <a href="/" class="btn btn-primary btn-lg mt-3">Go back to homepage</a>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"
            integrity="sha512-ZNTxOxRg8JiCUahc1rybBCd0wHdmJNx8Uv7VU9ir6rP7VWgJnY/TUGRoU1/MH/BJ+Vz1/c/hgCfJupmRmu5sw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
    <%- include("templates/footer") %>

</html>