<%- include("templates/header") %>
<div class="container mt-5 text-center">
  <h1>Hello and welcome <%= username %>!</h1>
  <div class="mt-5">
    <a href="/members" class="btn btn-primary me-3">Go to Members area</a>
    <a href="/logout" class="btn btn-secondary">Log out</a>
  </div>
</div>
<%- include("templates/footer") %>
