<%- include("templates/header") %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Create a new user</h1>
      <form action="/signupSubmit" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input name="username" type="text" class="form-control" id="username" placeholder="Enter your name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<%- include("templates/footer") %>
